@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #F5F0CD;
  color: #3674B5;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
